@import url("./hux-blog.css");


/*
 * Color palette here:
 * http://mycolortopia.com/blog/color/love-scandinavian-look-try-color-palette#xHRi6HT6TgQSvd0y.97
 *
 * Deep onyx: #464543
 * Elegant charcoal: #787A79
 * Medici grey: #B1B7B7
 * Stone white: #E2E3DE
 * Fossil grey: #CDC7BC
 * Whitecliff beige: #E0D9D0
 * Gloden basketry: #AD9475
 *
 * Deep grey: #2E2E2E
 * Dark white: #EDE8E4
 */

.eye-protect-bg {
	 background-color: #FAFAFA;
	 color: #2E2E2E;
}

.intro-header {
	background-color: #2E2E2E;
}

.site-heading h1,
.post-heading h1 {
	 color: #FAFAFA;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom.is-fixed {
  	background-color: #2E2E2E;
      	border-bottom: 1px solid #B1B7B7;
  }

  .navbar-custom.is-fixed .navbar-brand,
  .navbar-custom.is-fixed .nav li a {
    color: #FAFAFA;
  }
}

.post-preview > .post-meta {
	font-size: 14px
}

.pager li > a:hover,
.pager li > a:focus {
  color: #AD9475;
  background-color: #FFFFFF;
}

.intro-header .post-heading,
.intro-header .site-heading {
	padding-top:    50px;
	padding-bottom: 50px;
}

.intro-header .post-heading .meta {
	font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading .meta {
	font-size: 14px;
  }
}

.post-content-preview {
  font-size: 14px;
  color: #787A79;
  font-style: normal;
}
.post-content-preview:hover {
  color: #787A79;
}
@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 16px;
  }
}

.intro-header .site-heading .subheading,
.intro-header .post-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading .subheading {
    font-size: 20px;
  }
}

.post-container {
	padding-top: 20px;
}
