# ================================
# Ignore jekyll temporary results
# ================================

_site/

# ===========================
# Ignore VIM temporary files
# ===========================

.*.sw?
